/* Estilos de la sección formación */

.academic__title{
    font-size: 1.5rem;
    margin: 10%;
}

.academic__courses{
    display: grid;
    grid-template-rows: 25% 30% 30%;
}

.academic__courses__box{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 10%;
    text-align: justify;
}

.academic__courses__item__title, .academic__courses__item__subtitle{
    line-height: 1.5rem;
    font-size: 1rem;
}

/* logo de cada formación */
.academic__courses__box img{
    max-width: 50%;
    vertical-align: bottom;
    margin-left: 15%;
    margin-top: 18%;
}

#logoInti{
    background: #020129;
    margin-top: 30%;
}

#f4 img{
    max-width: 100%;
    height: 100%;
}