/* Estilos de la sección header */
.header__main{
<<<<<<< HEAD
=======
    margin-left: 5%;
>>>>>>> 65196523dd9d4b1c91a49d298a38f8f39c967339
    margin-top: 2%;
    font-size: 1.8rem;
    color: #fab9c9;
    -webkit-text-stroke: 0.1px #4A205E;
}

.header__main img{
   width: 3%;
}

.header__email a{
    color: #fab9c9;
}

.header__email{
    transition: 200ms;
}

.header__email:hover{
    transform: scale(1.02);
}


@media (max-width: 1100px) {
    .header__main img{
        width: 4%;
     }
     .header__main{
        font-size: 1.5rem;
    }
}

@media (max-width: 600px){
    .header__main img{
        width: 6%;
     }
    .header__main{
        font-size: 1rem;
        margin-left: 2%;
    }
}