/* Estilos de la sección Hobbies */

.hobbies__title{
    font-size: 1.5rem;
    margin: 10%;
    padding-bottom: 4%;
}

.hobbies__line{
    margin-left: -10%;
}

.hobbies__box{
    margin: 10%;
    text-align: center;
}

/* logo de las Hobbies */
 .hobbies__img img {
    max-width: 12%;
    padding-bottom: 3%;
}