/* Estilos de la sección Proyectos */

.experience{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.experience__section__title{
    font-size: 1.5rem;
    margin: 10%;
}

.experience__title {
    text-decoration: underline;
}

.experience__box, .experience__description{
    line-height: 1.5rem;
    text-align: center;
}

#f5{
    display: grid;
    grid-template-rows: 60% 10%;
    margin: 0% 2%;
    
}

/* img de cada Proyecto */
.experience__img {
    max-width: 95%;
}

#b5{
    margin-top: 10%;
}

#f6{
    margin: 10% 2%;
}

#f6 :nth-child(2) {
    margin-top: 10%;
}

.experiencia__botao--repo:hover {
    background-color: #f895ae;
}

.experience__botao--demo:hover {
    background-color: #f895ae;
}

@media (max-width: 1300px){
    #f5{
        display: grid;
        grid-template-rows: 60% 0%;
    }
}