/* Estilos de la sección Proyectos */

.experience{
    display: flex;
    flex-direction: column;
}

.experience__section__title{
    font-size: 1.5rem;
    margin: 10%;
}

.experience__title {
    text-decoration: underline;
}

.experience__box, .experience__description{
    line-height: 1.5rem;
    text-align: center;
}

#f5{
    margin-top: 20%;
}

#f5, #f6{
    display: flex;
    flex-direction: column;   
}

/* img de cada Proyecto */
.experience__img {
    max-width: 95%;
    padding: 5%;
}

.experiencia__botao--repo:hover {
    background-color: #f895ae;
}

.experience__botao--demo:hover {
    background-color: #f895ae;
}

@media (max-width: 1300px){
    #f5{
        margin-top: 0%;
    }
}

@media (max-width: 600px){
    .experience__section__title{
        font-size: 1.3rem;
    }
}